.elementor-311
  .elementor-element.elementor-element-68a41dd:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-311
  .elementor-element.elementor-element-68a41dd
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-58a3f5b);
  background-image: url("../../2023/04/bg_header.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-311
  .elementor-element.elementor-element-68a41dd
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    #c36666cc 0%,
    var(--e-global-color-secondary) 100%
  );
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-311 .elementor-element.elementor-element-68a41dd {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 9% 0% 0% 0%;
}
.elementor-311
  .elementor-element.elementor-element-68a41dd
  > .elementor-shape-bottom
  svg {
  height: 32px;
}
.elementor-311
  .elementor-element.elementor-element-b72af14
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-311
  .elementor-element.elementor-element-9143869
  > .elementor-container {
  max-width: 720px;
}
.elementor-311 .elementor-element.elementor-element-9143869 {
  padding: 5em 0em 9em 0em;
}
.elementor-311
  .elementor-element.elementor-element-aeb48b1
  > .elementor-element-populated {
  padding: 2em 2em 2em 2em;
}
.elementor-311 .elementor-element.elementor-element-3ee17e0 {
  text-align: center;
}
.elementor-311
  .elementor-element.elementor-element-3ee17e0
  .elementor-heading-title {
  color: var(--e-global-color-text);
}
.elementor-311 .elementor-element.elementor-element-f26ddcc {
  text-align: center;
}
.elementor-311
  .elementor-element.elementor-element-f26ddcc
  .elementor-heading-title {
  color: var(--e-global-color-text);
}
.elementor-311
  .elementor-element.elementor-element-993538c
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-311 .elementor-element.elementor-element-993538c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 7em 0em 5em 0em;
}
.elementor-311
  .elementor-element.elementor-element-993538c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-311
  .elementor-element.elementor-element-d78061e
  > .elementor-element-populated {
  padding: 3em 5em 3em 1em;
}
.elementor-311 .elementor-element.elementor-element-73c8aa7 img {
  width: 100%;
  height: 435px;
  object-fit: cover;
  object-position: center center;
}
.elementor-311
  .elementor-element.elementor-element-73c8aa7
  > .elementor-widget-container {
  background-image: url("../../2023/04/memphis_2.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}
.elementor-311
  .elementor-element.elementor-element-73c8aa7:not(.elementor-widget-image)
  .elementor-widget-container {
  -webkit-mask-image: url(../../2023/04/memphis_1.png);
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
}
.elementor-311
  .elementor-element.elementor-element-73c8aa7.elementor-widget-image
  .elementor-widget-container
  img {
  -webkit-mask-image: url(https://webkit.moxcreative.com/popglace/wp-content/uploads/sites/2/2023/04/memphis_1.png);
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
}
.elementor-311
  .elementor-element.elementor-element-d2ee0d4
  > .elementor-background-overlay {
  background-image: url("https://webkit.moxcreative.com/popglace/wp-content/uploads/sites/2/2023/04/bg_img1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-311 .elementor-element.elementor-element-d2ee0d4 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0em 0em 7em 0em;
}
.elementor-311
  .elementor-element.elementor-element-7b64747
  > .elementor-container {
  max-width: 720px;
}
.elementor-311
  .elementor-element.elementor-element-fb34907
  > .elementor-element-populated {
  padding: 2em 2em 2em 2em;
}
.elementor-311 .elementor-element.elementor-element-fe45e2d {
  text-align: center;
}
.elementor-311 .elementor-element.elementor-element-c687374 {
  text-align: center;
}
.elementor-311 .elementor-element.elementor-element-3cf5d0e {
  padding: 0em 0em 1em 0em;
}
.elementor-311 .elementor-element.elementor-element-f205350 img {
  border-radius: 15px 15px 15px 15px;
}
.elementor-311 .elementor-element.elementor-element-76f2dd2 {
  --grid-template-columns: repeat(1, auto);
  --icon-size: 16px;
  --grid-column-gap: 5px;
  --grid-row-gap: 5px;
  width: auto;
  max-width: auto;
  top: 31px;
}
.elementor-311
  .elementor-element.elementor-element-76f2dd2
  .elementor-widget-container {
  text-align: center;
}
.elementor-311
  .elementor-element.elementor-element-76f2dd2
  .elementor-social-icon {
  background-color: var(--e-global-color-d49ac81);
}
.elementor-311
  .elementor-element.elementor-element-76f2dd2
  .elementor-social-icon
  i {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-76f2dd2
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-76f2dd2
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-332724a);
}
.elementor-311
  .elementor-element.elementor-element-76f2dd2
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-76f2dd2
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-primary);
}
body:not(.rtl) .elementor-311 .elementor-element.elementor-element-76f2dd2 {
  right: 31px;
}
body.rtl .elementor-311 .elementor-element.elementor-element-76f2dd2 {
  left: 31px;
}
.elementor-311 .elementor-element.elementor-element-97cbb55 {
  --icon-box-icon-margin: 15px;
}
.elementor-311
  .elementor-element.elementor-element-97cbb55
  .elementor-icon-box-title {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-97cbb55
  .elementor-icon-box-title,
.elementor-311
  .elementor-element.elementor-element-97cbb55
  .elementor-icon-box-title
  a {
  font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
  font-size: var(--e-global-typography-7044a64-font-size);
  font-weight: var(--e-global-typography-7044a64-font-weight);
  line-height: var(--e-global-typography-7044a64-line-height);
  letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
  word-spacing: var(--e-global-typography-7044a64-word-spacing);
}
.elementor-311
  .elementor-element.elementor-element-97cbb55
  .elementor-icon-box-description {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-84ca66e-font-family), Sans-serif;
  font-size: var(--e-global-typography-84ca66e-font-size);
  font-weight: var(--e-global-typography-84ca66e-font-weight);
  text-transform: var(--e-global-typography-84ca66e-text-transform);
  line-height: var(--e-global-typography-84ca66e-line-height);
  letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
  word-spacing: var(--e-global-typography-84ca66e-word-spacing);
}
.elementor-311
  .elementor-element.elementor-element-97cbb55
  > .elementor-widget-container {
  padding: 21px 21px 21px 21px;
  background-color: var(--e-global-color-435bebe);
  border-radius: 15px 15px 15px 15px;
}
.elementor-311 .elementor-element.elementor-element-b8d2cea img {
  border-radius: 15px 15px 15px 15px;
}
.elementor-311 .elementor-element.elementor-element-5bce0f9 {
  --grid-template-columns: repeat(1, auto);
  --icon-size: 16px;
  --grid-column-gap: 5px;
  --grid-row-gap: 5px;
  width: auto;
  max-width: auto;
  top: 31px;
}
.elementor-311
  .elementor-element.elementor-element-5bce0f9
  .elementor-widget-container {
  text-align: center;
}
.elementor-311
  .elementor-element.elementor-element-5bce0f9
  .elementor-social-icon {
  background-color: var(--e-global-color-d49ac81);
}
.elementor-311
  .elementor-element.elementor-element-5bce0f9
  .elementor-social-icon
  i {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-5bce0f9
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-5bce0f9
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-332724a);
}
.elementor-311
  .elementor-element.elementor-element-5bce0f9
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-5bce0f9
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-primary);
}
body:not(.rtl) .elementor-311 .elementor-element.elementor-element-5bce0f9 {
  right: 31px;
}
body.rtl .elementor-311 .elementor-element.elementor-element-5bce0f9 {
  left: 31px;
}
.elementor-311 .elementor-element.elementor-element-29988b9 {
  --icon-box-icon-margin: 15px;
}
.elementor-311
  .elementor-element.elementor-element-29988b9
  .elementor-icon-box-title {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-29988b9
  .elementor-icon-box-title,
.elementor-311
  .elementor-element.elementor-element-29988b9
  .elementor-icon-box-title
  a {
  font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
  font-size: var(--e-global-typography-7044a64-font-size);
  font-weight: var(--e-global-typography-7044a64-font-weight);
  line-height: var(--e-global-typography-7044a64-line-height);
  letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
  word-spacing: var(--e-global-typography-7044a64-word-spacing);
}
.elementor-311
  .elementor-element.elementor-element-29988b9
  .elementor-icon-box-description {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-84ca66e-font-family), Sans-serif;
  font-size: var(--e-global-typography-84ca66e-font-size);
  font-weight: var(--e-global-typography-84ca66e-font-weight);
  text-transform: var(--e-global-typography-84ca66e-text-transform);
  line-height: var(--e-global-typography-84ca66e-line-height);
  letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
  word-spacing: var(--e-global-typography-84ca66e-word-spacing);
}
.elementor-311
  .elementor-element.elementor-element-29988b9
  > .elementor-widget-container {
  padding: 21px 21px 21px 21px;
  background-color: var(--e-global-color-435bebe);
  border-radius: 15px 15px 15px 15px;
}
.elementor-311 .elementor-element.elementor-element-7cef082 img {
  border-radius: 15px 15px 15px 15px;
}
.elementor-311 .elementor-element.elementor-element-7cbdbd1 {
  --grid-template-columns: repeat(1, auto);
  --icon-size: 16px;
  --grid-column-gap: 5px;
  --grid-row-gap: 5px;
  width: auto;
  max-width: auto;
  top: 31px;
}
.elementor-311
  .elementor-element.elementor-element-7cbdbd1
  .elementor-widget-container {
  text-align: center;
}
.elementor-311
  .elementor-element.elementor-element-7cbdbd1
  .elementor-social-icon {
  background-color: var(--e-global-color-d49ac81);
}
.elementor-311
  .elementor-element.elementor-element-7cbdbd1
  .elementor-social-icon
  i {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-7cbdbd1
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-7cbdbd1
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-332724a);
}
.elementor-311
  .elementor-element.elementor-element-7cbdbd1
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-7cbdbd1
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-primary);
}
body:not(.rtl) .elementor-311 .elementor-element.elementor-element-7cbdbd1 {
  right: 31px;
}
body.rtl .elementor-311 .elementor-element.elementor-element-7cbdbd1 {
  left: 31px;
}
.elementor-311 .elementor-element.elementor-element-fd0745f {
  --icon-box-icon-margin: 15px;
}
.elementor-311
  .elementor-element.elementor-element-fd0745f
  .elementor-icon-box-title {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-fd0745f
  .elementor-icon-box-title,
.elementor-311
  .elementor-element.elementor-element-fd0745f
  .elementor-icon-box-title
  a {
  font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
  font-size: var(--e-global-typography-7044a64-font-size);
  font-weight: var(--e-global-typography-7044a64-font-weight);
  line-height: var(--e-global-typography-7044a64-line-height);
  letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
  word-spacing: var(--e-global-typography-7044a64-word-spacing);
}
.elementor-311
  .elementor-element.elementor-element-fd0745f
  .elementor-icon-box-description {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-84ca66e-font-family), Sans-serif;
  font-size: var(--e-global-typography-84ca66e-font-size);
  font-weight: var(--e-global-typography-84ca66e-font-weight);
  text-transform: var(--e-global-typography-84ca66e-text-transform);
  line-height: var(--e-global-typography-84ca66e-line-height);
  letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
  word-spacing: var(--e-global-typography-84ca66e-word-spacing);
}
.elementor-311
  .elementor-element.elementor-element-fd0745f
  > .elementor-widget-container {
  padding: 21px 21px 21px 21px;
  background-color: var(--e-global-color-435bebe);
  border-radius: 15px 15px 15px 15px;
}
.elementor-311 .elementor-element.elementor-element-66b28ad img {
  border-radius: 15px 15px 15px 15px;
}
.elementor-311 .elementor-element.elementor-element-013698e {
  --grid-template-columns: repeat(1, auto);
  --icon-size: 16px;
  --grid-column-gap: 5px;
  --grid-row-gap: 5px;
  width: auto;
  max-width: auto;
  top: 31px;
}
.elementor-311
  .elementor-element.elementor-element-013698e
  .elementor-widget-container {
  text-align: center;
}
.elementor-311
  .elementor-element.elementor-element-013698e
  .elementor-social-icon {
  background-color: var(--e-global-color-d49ac81);
}
.elementor-311
  .elementor-element.elementor-element-013698e
  .elementor-social-icon
  i {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-013698e
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-013698e
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-332724a);
}
.elementor-311
  .elementor-element.elementor-element-013698e
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-013698e
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-primary);
}
body:not(.rtl) .elementor-311 .elementor-element.elementor-element-013698e {
  right: 31px;
}
body.rtl .elementor-311 .elementor-element.elementor-element-013698e {
  left: 31px;
}
.elementor-311 .elementor-element.elementor-element-0efe54d {
  --icon-box-icon-margin: 15px;
}
.elementor-311
  .elementor-element.elementor-element-0efe54d
  .elementor-icon-box-title {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-0efe54d
  .elementor-icon-box-title,
.elementor-311
  .elementor-element.elementor-element-0efe54d
  .elementor-icon-box-title
  a {
  font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
  font-size: var(--e-global-typography-7044a64-font-size);
  font-weight: var(--e-global-typography-7044a64-font-weight);
  line-height: var(--e-global-typography-7044a64-line-height);
  letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
  word-spacing: var(--e-global-typography-7044a64-word-spacing);
}
.elementor-311
  .elementor-element.elementor-element-0efe54d
  .elementor-icon-box-description {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-84ca66e-font-family), Sans-serif;
  font-size: var(--e-global-typography-84ca66e-font-size);
  font-weight: var(--e-global-typography-84ca66e-font-weight);
  text-transform: var(--e-global-typography-84ca66e-text-transform);
  line-height: var(--e-global-typography-84ca66e-line-height);
  letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
  word-spacing: var(--e-global-typography-84ca66e-word-spacing);
}
.elementor-311
  .elementor-element.elementor-element-0efe54d
  > .elementor-widget-container {
  padding: 21px 21px 21px 21px;
  background-color: var(--e-global-color-435bebe);
  border-radius: 15px 15px 15px 15px;
}
.elementor-311 .elementor-element.elementor-element-1ddaec1 img {
  border-radius: 15px 15px 15px 15px;
}
.elementor-311 .elementor-element.elementor-element-121a86d {
  --grid-template-columns: repeat(1, auto);
  --icon-size: 16px;
  --grid-column-gap: 5px;
  --grid-row-gap: 5px;
  width: auto;
  max-width: auto;
  top: 31px;
}
.elementor-311
  .elementor-element.elementor-element-121a86d
  .elementor-widget-container {
  text-align: center;
}
.elementor-311
  .elementor-element.elementor-element-121a86d
  .elementor-social-icon {
  background-color: var(--e-global-color-d49ac81);
}
.elementor-311
  .elementor-element.elementor-element-121a86d
  .elementor-social-icon
  i {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-121a86d
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-121a86d
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-332724a);
}
.elementor-311
  .elementor-element.elementor-element-121a86d
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-121a86d
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-primary);
}
body:not(.rtl) .elementor-311 .elementor-element.elementor-element-121a86d {
  right: 31px;
}
body.rtl .elementor-311 .elementor-element.elementor-element-121a86d {
  left: 31px;
}
.elementor-311 .elementor-element.elementor-element-27739e5 {
  --icon-box-icon-margin: 15px;
}
.elementor-311
  .elementor-element.elementor-element-27739e5
  .elementor-icon-box-title {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-27739e5
  .elementor-icon-box-title,
.elementor-311
  .elementor-element.elementor-element-27739e5
  .elementor-icon-box-title
  a {
  font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
  font-size: var(--e-global-typography-7044a64-font-size);
  font-weight: var(--e-global-typography-7044a64-font-weight);
  line-height: var(--e-global-typography-7044a64-line-height);
  letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
  word-spacing: var(--e-global-typography-7044a64-word-spacing);
}
.elementor-311
  .elementor-element.elementor-element-27739e5
  .elementor-icon-box-description {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-84ca66e-font-family), Sans-serif;
  font-size: var(--e-global-typography-84ca66e-font-size);
  font-weight: var(--e-global-typography-84ca66e-font-weight);
  text-transform: var(--e-global-typography-84ca66e-text-transform);
  line-height: var(--e-global-typography-84ca66e-line-height);
  letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
  word-spacing: var(--e-global-typography-84ca66e-word-spacing);
}
.elementor-311
  .elementor-element.elementor-element-27739e5
  > .elementor-widget-container {
  padding: 21px 21px 21px 21px;
  background-color: var(--e-global-color-435bebe);
  border-radius: 15px 15px 15px 15px;
}
.elementor-311 .elementor-element.elementor-element-b1572de img {
  border-radius: 15px 15px 15px 15px;
}
.elementor-311 .elementor-element.elementor-element-f13b444 {
  --grid-template-columns: repeat(1, auto);
  --icon-size: 16px;
  --grid-column-gap: 5px;
  --grid-row-gap: 5px;
  width: auto;
  max-width: auto;
  top: 31px;
}
.elementor-311
  .elementor-element.elementor-element-f13b444
  .elementor-widget-container {
  text-align: center;
}
.elementor-311
  .elementor-element.elementor-element-f13b444
  .elementor-social-icon {
  background-color: var(--e-global-color-d49ac81);
}
.elementor-311
  .elementor-element.elementor-element-f13b444
  .elementor-social-icon
  i {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-f13b444
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-f13b444
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-332724a);
}
.elementor-311
  .elementor-element.elementor-element-f13b444
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-f13b444
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-primary);
}
body:not(.rtl) .elementor-311 .elementor-element.elementor-element-f13b444 {
  right: 31px;
}
body.rtl .elementor-311 .elementor-element.elementor-element-f13b444 {
  left: 31px;
}
.elementor-311 .elementor-element.elementor-element-967119a {
  --icon-box-icon-margin: 15px;
}
.elementor-311
  .elementor-element.elementor-element-967119a
  .elementor-icon-box-title {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-967119a
  .elementor-icon-box-title,
.elementor-311
  .elementor-element.elementor-element-967119a
  .elementor-icon-box-title
  a {
  font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
  font-size: var(--e-global-typography-7044a64-font-size);
  font-weight: var(--e-global-typography-7044a64-font-weight);
  line-height: var(--e-global-typography-7044a64-line-height);
  letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
  word-spacing: var(--e-global-typography-7044a64-word-spacing);
}
.elementor-311
  .elementor-element.elementor-element-967119a
  .elementor-icon-box-description {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-84ca66e-font-family), Sans-serif;
  font-size: var(--e-global-typography-84ca66e-font-size);
  font-weight: var(--e-global-typography-84ca66e-font-weight);
  text-transform: var(--e-global-typography-84ca66e-text-transform);
  line-height: var(--e-global-typography-84ca66e-line-height);
  letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
  word-spacing: var(--e-global-typography-84ca66e-word-spacing);
}
.elementor-311
  .elementor-element.elementor-element-967119a
  > .elementor-widget-container {
  padding: 21px 21px 21px 21px;
  background-color: var(--e-global-color-435bebe);
  border-radius: 15px 15px 15px 15px;
}
.elementor-311 .elementor-element.elementor-element-4f4270b img {
  border-radius: 15px 15px 15px 15px;
}
.elementor-311 .elementor-element.elementor-element-85793a9 {
  --grid-template-columns: repeat(1, auto);
  --icon-size: 16px;
  --grid-column-gap: 5px;
  --grid-row-gap: 5px;
  width: auto;
  max-width: auto;
  top: 31px;
}
.elementor-311
  .elementor-element.elementor-element-85793a9
  .elementor-widget-container {
  text-align: center;
}
.elementor-311
  .elementor-element.elementor-element-85793a9
  .elementor-social-icon {
  background-color: var(--e-global-color-d49ac81);
}
.elementor-311
  .elementor-element.elementor-element-85793a9
  .elementor-social-icon
  i {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-85793a9
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-85793a9
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-332724a);
}
.elementor-311
  .elementor-element.elementor-element-85793a9
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-85793a9
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-primary);
}
body:not(.rtl) .elementor-311 .elementor-element.elementor-element-85793a9 {
  right: 31px;
}
body.rtl .elementor-311 .elementor-element.elementor-element-85793a9 {
  left: 31px;
}
.elementor-311 .elementor-element.elementor-element-7b19016 {
  --icon-box-icon-margin: 15px;
}
.elementor-311
  .elementor-element.elementor-element-7b19016
  .elementor-icon-box-title {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-7b19016
  .elementor-icon-box-title,
.elementor-311
  .elementor-element.elementor-element-7b19016
  .elementor-icon-box-title
  a {
  font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
  font-size: var(--e-global-typography-7044a64-font-size);
  font-weight: var(--e-global-typography-7044a64-font-weight);
  line-height: var(--e-global-typography-7044a64-line-height);
  letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
  word-spacing: var(--e-global-typography-7044a64-word-spacing);
}
.elementor-311
  .elementor-element.elementor-element-7b19016
  .elementor-icon-box-description {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-84ca66e-font-family), Sans-serif;
  font-size: var(--e-global-typography-84ca66e-font-size);
  font-weight: var(--e-global-typography-84ca66e-font-weight);
  text-transform: var(--e-global-typography-84ca66e-text-transform);
  line-height: var(--e-global-typography-84ca66e-line-height);
  letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
  word-spacing: var(--e-global-typography-84ca66e-word-spacing);
}
.elementor-311
  .elementor-element.elementor-element-7b19016
  > .elementor-widget-container {
  padding: 21px 21px 21px 21px;
  background-color: var(--e-global-color-435bebe);
  border-radius: 15px 15px 15px 15px;
}
.elementor-311 .elementor-element.elementor-element-cad3de7 img {
  border-radius: 15px 15px 15px 15px;
}
.elementor-311 .elementor-element.elementor-element-4a73ce1 {
  --grid-template-columns: repeat(1, auto);
  --icon-size: 16px;
  --grid-column-gap: 5px;
  --grid-row-gap: 5px;
  width: auto;
  max-width: auto;
  top: 31px;
}
.elementor-311
  .elementor-element.elementor-element-4a73ce1
  .elementor-widget-container {
  text-align: center;
}
.elementor-311
  .elementor-element.elementor-element-4a73ce1
  .elementor-social-icon {
  background-color: var(--e-global-color-d49ac81);
}
.elementor-311
  .elementor-element.elementor-element-4a73ce1
  .elementor-social-icon
  i {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-4a73ce1
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-4a73ce1
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-332724a);
}
.elementor-311
  .elementor-element.elementor-element-4a73ce1
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-4a73ce1
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-primary);
}
body:not(.rtl) .elementor-311 .elementor-element.elementor-element-4a73ce1 {
  right: 31px;
}
body.rtl .elementor-311 .elementor-element.elementor-element-4a73ce1 {
  left: 31px;
}
.elementor-311 .elementor-element.elementor-element-b94f367 {
  --icon-box-icon-margin: 15px;
}
.elementor-311
  .elementor-element.elementor-element-b94f367
  .elementor-icon-box-title {
  color: var(--e-global-color-primary);
}
.elementor-311
  .elementor-element.elementor-element-b94f367
  .elementor-icon-box-title,
.elementor-311
  .elementor-element.elementor-element-b94f367
  .elementor-icon-box-title
  a {
  font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
  font-size: var(--e-global-typography-7044a64-font-size);
  font-weight: var(--e-global-typography-7044a64-font-weight);
  line-height: var(--e-global-typography-7044a64-line-height);
  letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
  word-spacing: var(--e-global-typography-7044a64-word-spacing);
}
.elementor-311
  .elementor-element.elementor-element-b94f367
  .elementor-icon-box-description {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-84ca66e-font-family), Sans-serif;
  font-size: var(--e-global-typography-84ca66e-font-size);
  font-weight: var(--e-global-typography-84ca66e-font-weight);
  text-transform: var(--e-global-typography-84ca66e-text-transform);
  line-height: var(--e-global-typography-84ca66e-line-height);
  letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
  word-spacing: var(--e-global-typography-84ca66e-word-spacing);
}
.elementor-311
  .elementor-element.elementor-element-b94f367
  > .elementor-widget-container {
  padding: 21px 21px 21px 21px;
  background-color: var(--e-global-color-435bebe);
  border-radius: 15px 15px 15px 15px;
}
.elementor-311 .elementor-element.elementor-element-b7238ee {
  padding: 0em 0em 3em 0em;
}
.elementor-311
  .elementor-element.elementor-element-34efd0e
  > .elementor-container {
  max-width: 720px;
}
.elementor-311
  .elementor-element.elementor-element-34efd0e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-311
  .elementor-element.elementor-element-34efd0e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-58a3f5b);
  background-image: url("https://webkit.moxcreative.com/popglace/wp-content/uploads/sites/2/2023/04/bg_header.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-311
  .elementor-element.elementor-element-34efd0e
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    var(--e-global-color-secondary) 0%,
    #bbe4df80 100%
  );
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-311 .elementor-element.elementor-element-34efd0e,
.elementor-311
  .elementor-element.elementor-element-34efd0e
  > .elementor-background-overlay {
  border-radius: 15px 15px 15px 15px;
}
.elementor-311 .elementor-element.elementor-element-34efd0e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 3em 3em 3em 3em;
}
.elementor-311
  .elementor-element.elementor-element-f379132
  > .elementor-element-populated {
  padding: 2em 2em 2em 2em;
}
.elementor-311 .elementor-element.elementor-element-7dca780 {
  text-align: center;
}
.elementor-311
  .elementor-element.elementor-element-7dca780
  .elementor-heading-title {
  color: var(--e-global-color-text);
}
.elementor-311 .elementor-element.elementor-element-f7c468f {
  text-align: center;
}
.elementor-311
  .elementor-element.elementor-element-f7c468f
  .elementor-heading-title {
  color: var(--e-global-color-text);
}
.elementor-311 .elementor-element.elementor-element-c8f7273 {
  text-align: center;
  color: var(--e-global-color-text);
}
.elementor-311 .elementor-element.elementor-element-2810e28 .elementor-button {
  fill: var(--e-global-color-primary);
  color: var(--e-global-color-primary);
  background-color: var(--e-global-color-text);
}
.elementor-311
  .elementor-element.elementor-element-2810e28
  .elementor-button:hover,
.elementor-311
  .elementor-element.elementor-element-2810e28
  .elementor-button:focus {
  color: var(--e-global-color-primary);
  background-color: var(--e-global-color-332724a);
}
.elementor-311
  .elementor-element.elementor-element-2810e28
  .elementor-button:hover
  svg,
.elementor-311
  .elementor-element.elementor-element-2810e28
  .elementor-button:focus
  svg {
  fill: var(--e-global-color-primary);
}
@media (max-width: 1024px) {
  .elementor-311
    .elementor-element.elementor-element-68a41dd
    > .elementor-shape-bottom
    svg {
    height: 16px;
  }
  .elementor-311 .elementor-element.elementor-element-68a41dd {
    padding: 7em 0em 0em 0em;
  }
  .elementor-311 .elementor-element.elementor-element-9143869 {
    padding: 3em 0em 5em 0em;
  }
  .elementor-311 .elementor-element.elementor-element-993538c {
    padding: 3em 0em 1em 0em;
  }
  .elementor-311
    .elementor-element.elementor-element-d78061e
    > .elementor-element-populated {
    padding: 2em 2em 2em 2em;
  }
  .elementor-311 .elementor-element.elementor-element-d2ee0d4 {
    padding: 0em 0em 3em 0em;
  }
  .elementor-311
    .elementor-element.elementor-element-97cbb55
    .elementor-icon-box-title,
  .elementor-311
    .elementor-element.elementor-element-97cbb55
    .elementor-icon-box-title
    a {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-97cbb55
    .elementor-icon-box-description {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-29988b9
    .elementor-icon-box-title,
  .elementor-311
    .elementor-element.elementor-element-29988b9
    .elementor-icon-box-title
    a {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-29988b9
    .elementor-icon-box-description {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-fd0745f
    .elementor-icon-box-title,
  .elementor-311
    .elementor-element.elementor-element-fd0745f
    .elementor-icon-box-title
    a {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-fd0745f
    .elementor-icon-box-description {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-0efe54d
    .elementor-icon-box-title,
  .elementor-311
    .elementor-element.elementor-element-0efe54d
    .elementor-icon-box-title
    a {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-0efe54d
    .elementor-icon-box-description {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-27739e5
    .elementor-icon-box-title,
  .elementor-311
    .elementor-element.elementor-element-27739e5
    .elementor-icon-box-title
    a {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-27739e5
    .elementor-icon-box-description {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-967119a
    .elementor-icon-box-title,
  .elementor-311
    .elementor-element.elementor-element-967119a
    .elementor-icon-box-title
    a {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-967119a
    .elementor-icon-box-description {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-7b19016
    .elementor-icon-box-title,
  .elementor-311
    .elementor-element.elementor-element-7b19016
    .elementor-icon-box-title
    a {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-7b19016
    .elementor-icon-box-description {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-b94f367
    .elementor-icon-box-title,
  .elementor-311
    .elementor-element.elementor-element-b94f367
    .elementor-icon-box-title
    a {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-b94f367
    .elementor-icon-box-description {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
}
@media (max-width: 767px) {
  .elementor-311
    .elementor-element.elementor-element-68a41dd
    > .elementor-shape-bottom
    svg {
    height: 8px;
  }
  .elementor-311 .elementor-element.elementor-element-68a41dd {
    padding: 7em 0em 0em 0em;
  }
  .elementor-311 .elementor-element.elementor-element-9143869 {
    padding: 2em 0em 3em 0em;
  }
  .elementor-311 .elementor-element.elementor-element-993538c {
    padding: 2em 0em 0em 0em;
  }
  .elementor-311
    .elementor-element.elementor-element-d78061e
    > .elementor-element-populated {
    padding: 21px 21px 21px 21px;
  }
  .elementor-311 .elementor-element.elementor-element-73c8aa7 img {
    height: 200px;
  }
  .elementor-311 .elementor-element.elementor-element-d2ee0d4 {
    padding: 0em 0em 2em 0em;
  }
  .elementor-311
    .elementor-element.elementor-element-97cbb55
    .elementor-icon-box-title,
  .elementor-311
    .elementor-element.elementor-element-97cbb55
    .elementor-icon-box-title
    a {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-97cbb55
    .elementor-icon-box-description {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-29988b9
    .elementor-icon-box-title,
  .elementor-311
    .elementor-element.elementor-element-29988b9
    .elementor-icon-box-title
    a {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-29988b9
    .elementor-icon-box-description {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-fd0745f
    .elementor-icon-box-title,
  .elementor-311
    .elementor-element.elementor-element-fd0745f
    .elementor-icon-box-title
    a {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-fd0745f
    .elementor-icon-box-description {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-0efe54d
    .elementor-icon-box-title,
  .elementor-311
    .elementor-element.elementor-element-0efe54d
    .elementor-icon-box-title
    a {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-0efe54d
    .elementor-icon-box-description {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-27739e5
    .elementor-icon-box-title,
  .elementor-311
    .elementor-element.elementor-element-27739e5
    .elementor-icon-box-title
    a {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-27739e5
    .elementor-icon-box-description {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-967119a
    .elementor-icon-box-title,
  .elementor-311
    .elementor-element.elementor-element-967119a
    .elementor-icon-box-title
    a {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-967119a
    .elementor-icon-box-description {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-7b19016
    .elementor-icon-box-title,
  .elementor-311
    .elementor-element.elementor-element-7b19016
    .elementor-icon-box-title
    a {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-7b19016
    .elementor-icon-box-description {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-b94f367
    .elementor-icon-box-title,
  .elementor-311
    .elementor-element.elementor-element-b94f367
    .elementor-icon-box-title
    a {
    font-size: var(--e-global-typography-7044a64-font-size);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
  }
  .elementor-311
    .elementor-element.elementor-element-b94f367
    .elementor-icon-box-description {
    font-size: var(--e-global-typography-84ca66e-font-size);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
  }
  .elementor-311 .elementor-element.elementor-element-b7238ee {
    padding: 0em 0em 1em 0em;
  }
  .elementor-311 .elementor-element.elementor-element-34efd0e {
    padding: 1em 1em 1em 1em;
  }
  .elementor-311
    .elementor-element.elementor-element-f379132
    > .elementor-element-populated {
    padding: 1em 1em 1em 1em;
  }
}
@media (min-width: 768px) {
  .elementor-311 .elementor-element.elementor-element-d78061e {
    width: 45%;
  }
  .elementor-311 .elementor-element.elementor-element-bf5a3a5 {
    width: 55%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-311 .elementor-element.elementor-element-d78061e {
    width: 100%;
  }
  .elementor-311 .elementor-element.elementor-element-bf5a3a5 {
    width: 100%;
  }
  .elementor-311 .elementor-element.elementor-element-39f47d0 {
    width: 50%;
  }
  .elementor-311 .elementor-element.elementor-element-2b5bd3f {
    width: 50%;
  }
  .elementor-311 .elementor-element.elementor-element-8ad2804 {
    width: 50%;
  }
  .elementor-311 .elementor-element.elementor-element-175eb9a {
    width: 50%;
  }
  .elementor-311 .elementor-element.elementor-element-63f4a4e {
    width: 50%;
  }
  .elementor-311 .elementor-element.elementor-element-65c27ea {
    width: 50%;
  }
  .elementor-311 .elementor-element.elementor-element-872d39c {
    width: 50%;
  }
  .elementor-311 .elementor-element.elementor-element-8f8ba8e {
    width: 50%;
  }
}
