.elementor-44 .elementor-element.elementor-element-278add4 {
  margin-top: 0%;
  margin-bottom: -9%;
  padding: 2em 0em 0em 0em;
  z-index: 99;
}
.elementor-44
  .elementor-element.elementor-element-820d219
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-44
  .elementor-element.elementor-element-501b07d
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-44
  .elementor-element.elementor-element-501b07d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-44
  .elementor-element.elementor-element-501b07d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-text);
}
.elementor-44 .elementor-element.elementor-element-501b07d,
.elementor-44
  .elementor-element.elementor-element-501b07d
  > .elementor-background-overlay {
  border-radius: 15px 15px 15px 15px;
}
.elementor-44 .elementor-element.elementor-element-501b07d {
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 1em 1em 1em 1em;
}
.elementor-44
  .elementor-element.elementor-element-501b07d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-44 .elementor-element.elementor-element-72dda93 {
  text-align: left;
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-menu-toggle {
  margin: 0 auto;
  background-color: #02010100;
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu
  .elementor-item {
  font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
  font-size: var(--e-global-typography-520c191-font-size);
  font-weight: var(--e-global-typography-520c191-font-weight);
  line-height: var(--e-global-typography-520c191-line-height);
  letter-spacing: var(--e-global-typography-520c191-letter-spacing);
  word-spacing: var(--e-global-typography-520c191-word-spacing);
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--main
  .elementor-item {
  color: var(--e-global-color-primary);
  fill: var(--e-global-color-primary);
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: var(--e-global-color-secondary);
  fill: var(--e-global-color-secondary);
}
.elementor-44 .elementor-element.elementor-element-7e2c5f6 {
  --e-nav-menu-horizontal-menu-item-margin: calc(35px / 2);
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 35px;
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--dropdown
  a,
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-menu-toggle {
  color: var(--e-global-color-primary);
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--dropdown {
  background-color: var(--e-global-color-text);
  border-radius: 15px 15px 15px 15px;
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-menu-toggle:hover {
  color: var(--e-global-color-primary);
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: var(--e-global-color-d49ac81);
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
  font-size: var(--e-global-typography-520c191-font-size);
  font-weight: var(--e-global-typography-520c191-font-weight);
  letter-spacing: var(--e-global-typography-520c191-letter-spacing);
  word-spacing: var(--e-global-typography-520c191-word-spacing);
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--dropdown
  li:first-child
  a {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--dropdown
  li:last-child
  a {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu--main
  .elementor-nav-menu--dropdown,
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-nav-menu__container.elementor-nav-menu--dropdown {
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  div.elementor-menu-toggle {
  color: var(--e-global-color-primary);
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  div.elementor-menu-toggle
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  div.elementor-menu-toggle:hover {
  color: var(--e-global-color-secondary);
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  div.elementor-menu-toggle:hover
  svg {
  fill: var(--e-global-color-secondary);
}
.elementor-44
  .elementor-element.elementor-element-7e2c5f6
  .elementor-menu-toggle:hover {
  background-color: #02010100;
}
.elementor-44 .elementor-element.elementor-element-6608a7d {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 18px;
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
}
.elementor-44
  .elementor-element.elementor-element-6608a7d
  .elementor-widget-container {
  text-align: center;
}
.elementor-44
  .elementor-element.elementor-element-6608a7d
  .elementor-social-icon {
  background-color: var(--e-global-color-d49ac81);
}
.elementor-44
  .elementor-element.elementor-element-6608a7d
  .elementor-social-icon
  i {
  color: var(--e-global-color-primary);
}
.elementor-44
  .elementor-element.elementor-element-6608a7d
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-44 .elementor-element.elementor-element-6608a7d .elementor-icon {
  border-radius: 50% 50% 50% 50%;
}
.elementor-44
  .elementor-element.elementor-element-6608a7d
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-332724a);
}
.elementor-44
  .elementor-element.elementor-element-6608a7d
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-primary);
}
.elementor-44
  .elementor-element.elementor-element-6608a7d
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-primary);
}
@media (max-width: 1024px) {
  .elementor-44 .elementor-element.elementor-element-278add4 {
    margin-top: 0em;
    margin-bottom: -7em;
    padding: 0em 0em 0em 0em;
  }
  .elementor-44 .elementor-element.elementor-element-501b07d,
  .elementor-44
    .elementor-element.elementor-element-501b07d
    > .elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
  }
  .elementor-44
    .elementor-element.elementor-element-7e2c5f6
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-520c191-font-size);
    line-height: var(--e-global-typography-520c191-line-height);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
  }
  .elementor-44
    .elementor-element.elementor-element-7e2c5f6
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-44
    .elementor-element.elementor-element-7e2c5f6
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: var(--e-global-typography-520c191-font-size);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
  }
  .elementor-44 .elementor-element.elementor-element-7e2c5f6 {
    --nav-menu-icon-size: 28px;
  }
}
@media (max-width: 767px) {
  .elementor-44 .elementor-element.elementor-element-278add4 {
    margin-top: 0em;
    margin-bottom: -7em;
  }
  .elementor-44 .elementor-element.elementor-element-501b07d {
    padding: 0em 0em 0em 0em;
  }
  .elementor-44 .elementor-element.elementor-element-3fd0673 {
    width: 75%;
  }
  .elementor-44 .elementor-element.elementor-element-72dda93 img {
    width: 75%;
  }
  .elementor-44 .elementor-element.elementor-element-c74d745 {
    width: 25%;
  }
  .elementor-44
    .elementor-element.elementor-element-7e2c5f6
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-520c191-font-size);
    line-height: var(--e-global-typography-520c191-line-height);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
  }
  .elementor-44
    .elementor-element.elementor-element-7e2c5f6
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-44
    .elementor-element.elementor-element-7e2c5f6
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: var(--e-global-typography-520c191-font-size);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
  }
}
@media (min-width: 768px) {
  .elementor-44 .elementor-element.elementor-element-3fd0673 {
    width: 20%;
  }
  .elementor-44 .elementor-element.elementor-element-c74d745 {
    width: 64.332%;
  }
  .elementor-44 .elementor-element.elementor-element-7675fba {
    width: 15%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-44 .elementor-element.elementor-element-3fd0673 {
    width: 65%;
  }
  .elementor-44 .elementor-element.elementor-element-c74d745 {
    width: 10%;
  }
  .elementor-44 .elementor-element.elementor-element-7675fba {
    width: 25%;
  }
}
